<ion-content no-bounce>
  <div class="a1-header-height a3-container a3-justify-start a3-items-center m-header">
    <div class="a3-container " padding (click)="onClickBack()">
      <ion-icon name="ios-arrow-back-outline" class="header-button-icon"></ion-icon>
    </div>
    <div class="m-header-title" style="flex:1">Thống kê Loto</div>
  </div>

  <div class="a1-content">
    <div class="a-inputs-controller">
      <ion-grid>
        <ion-row>
          <ion-col (click)="onClickPickCategory()">
            <div style="padding-bottom:10px">Chọn tỉnh</div>
            <div class="a-input a3-container a3-justify-between">
              <div>{{inputs.category.name}}</div>
              <ion-icon name="ios-arrow-dropdown-outline" class="a-input-icon"></ion-icon>
            </div>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col col-6 (click)="onClickCount()">
            <div style="padding-bottom:10px">Số lần quay thưởng</div>
            <div class="a-input a3-container a3-justify-between">
              <div>{{inputs.count}} lần</div>
              <ion-icon name="ios-arrow-dropdown-outline" class="a-input-icon"></ion-icon>
            </div>
          </ion-col>

          <ion-col col-6 (click)="onClickPickEndDay()">
            <div style="padding-bottom:10px">Trước ngày</div>
            <div class="a-input a3-container a3-justify-between">
              <div>{{inputs.mDateStr}}</div>
              <ion-icon name="ios-arrow-dropdown-outline" class="a-input-icon"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="a-lotos-container">
      <div padding style="background-color:lightblue; margin-bottom:8px"> 10 bộ số xuất hiện nhiều nhất</div>

      <div class="mChartContainer">
        <canvas id="mChartCanvas"></canvas>
      </div>

      <div style="background-color:lightblue; margin-bottom:8px;" class="a3-container a3-justify-between a3-items-center">
        <div style="padding-left:16px"> Biểu đồ phân phối Loto</div>
        <div class="a3-container" padding (click)="onClickSortOptions()">
          <ion-icon name="ios-options-outline" style="font-weight:bold"></ion-icon>
        </div>
      </div>
      <div class="a-loto-container">
        <div class="a-loto-item" *ngFor="let loto of lotos" [style.background-color]="getBackgroundColor(loto)" (click)="onClickLoto(loto)">
          {{loto.loto}}
        </div>
      </div>


      <div *ngIf="lotoResult.length>0">
        <div style="height:20px"></div>
        <div padding style="background-color:lightblue; margin-bottom:8px"> Kết quả Loto ngày {{inputs.mDateStr}}</div>
        <div style="padding : 8px">
          <div *ngFor="let loto of lotoResult" class="a-loto">
            <span class="a-loto-loto">{{loto.loto}} <span *ngIf="loto.count>1" style="color:red">({{loto.count}})</span> </span>
          </div>
        </div>
      </div>

      <div padding style="background-color:lightblue; margin-bottom:8px"> Thống kê số lần xuất hiện các bộ số</div>
      <ion-grid style="padding:0px">
        <ion-row *ngFor="let lotocategory of categories" class="a-loto-category">
          <ion-col *ngFor="let loto of lotocategory.lotos" class="a-loto-number">
            <div>
              <div class="a-loto-number-loto" text-center>{{loto.loto}}</div>
              <div class="a-loto-number-count" text-center>{{loto.count}}</div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="a3-container a3-justify-center a3-items-center" style="margin-top:10px">
          <div class="number-loto"></div>
          <div style="padding : 0 20px 0 10px">Loto</div>
          <div class="number-count"></div>
          <div style="padding : 0 20px 0 10px"> Số lần xuất hiện</div>
        </ion-row>
      </ion-grid>
    </div>

    <div padding></div>
  </div>
</ion-content>
