<ion-content no-bounce style="width: 100%; height: 100%">

    <div class="a1-header-height a3-container a3-justify-start a3-items-center m-header ">
        <div class="a3-container " padding style="order:0;" (click)="onClickOpenMenu()">
            <ion-icon name="ios-menu-outline" class="header-button-icon"></ion-icon>
        </div>
        <div class="m-header-title" style="flex : 1">So vé số của bạn</div>
    </div>
    <div class="a1-content">
        <div class="a-inputs-controller">
            <ion-grid>
                <ion-row>
                    <ion-col col-6 (click)="onClickPickCategory()">
                        <div style="padding-bottom:10px">Chọn tỉnh</div>
                        <div class="a-input a3-container a3-justify-between">
                            <div>{{category.name}}</div>
                            <ion-icon name="ios-arrow-dropdown-outline" class="a-input-icon"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col col-6 (click)="onClickSelectDate()">
                        <div style="padding-bottom:10px">Chọn ngày</div>
                        <div class="a-input a3-container a3-justify-between">
                            <div>{{seletedDate.toLocaleDateString()}}</div>
                            <ion-icon name="ios-arrow-dropdown-outline" class="a-input-icon"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col col-12>
                        <div style="padding-bottom:10px">Vé số của bạn</div>
                        <input class="a-input" (keypress)="onkeyup($event)" (blur)="compareLottery()" (focusout)="compareLottery()" [(ngModel)]="userLottery" type="text" placeholder="{{placeholder}}" />
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="showResult" class="result" padding color="danger" [innerHTML]="prizeResult">

        </div>
        <div *ngIf="type==1" class="a-main-segment-content">
            <ion-grid no-padding>
                <ion-row class="a-row-header">
                    <div padding text-center class="a1-width-100"> Kết quả XSMB </div>
                </ion-row>
                <ion-row class="a-row-item" *ngFor="let elm of normalLottery" [hidden]="elm.numOfPrize == 0">
                    <ion-col col-2 class="a3-container a3-items-center a3-justify-center a-border-right n-red-text">{{elm.title}}</ion-col>
                    <ion-col *ngIf="elm.numOfPrize >= 6; else elseblock">
                        <ion-row>
                            <ion-col #dynamicCol [attr.class]="elm.title + code+ ' cell col'" [class.a-border-right]="j!= elm.numOfPrize-1 && j!= elm.numOfPrize/2-1 " [class.a-border-bottom]="j<= elm.numOfPrize/2-1" [attr.num-col]="elm.numOfPrize" *ngFor="let code of elm.code; let j=index"
                                text-center>
                                {{code}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ng-template #elseblock>
                        <ion-col [attr.class]="elm.title + code + ' cell col'" [class.a-border-right]="j<elm.numOfPrize-1" *ngFor="let code of elm.code; let j=index" text-center>
                            {{code}}
                        </ion-col>
                    </ng-template>
                </ion-row>
            </ion-grid>
        </div>

        <ion-grid *ngIf="type==1" no-padding class="n-margin-top">
            <ion-row text-center class="n-red-title">
                <div class="a3-container a3-items-center a3-justify-center a1-fill-parent n-col-item">Loto Trực Tiếp</div>
            </ion-row>
            <ion-row class="a-border-left">
                <ion-col col-2 *ngFor="let loto of normalLoto.lotos" class="a3-container a3-items-center a3-justify-center a-border-right a-border-bottom n-col-item">
                    {{loto}}
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="type==1" no-padding class="n-margin-top">
            <ion-row>
                <ion-col style="padding-right: 4px;">
                    <ion-row text-center class="n-red-title">
                        <ion-col col-4>Đầu</ion-col>
                        <ion-col>Loto</ion-col>
                    </ion-row>
                    <ion-row class="a-row-item" *ngFor="let elm of normalLoto.head; let i = index">
                        <ion-col col-4 text-center class="n-red-text a-border-right">{{i}}</ion-col>
                        <ion-col class="n-grey-text">
                            <span *ngFor="let loto of elm;">
                                            {{loto}}
                        </span>
                        </ion-col>
                    </ion-row>

                </ion-col>
                <ion-col style="padding-left: 4px;">
                    <ion-row text-center class="n-red-title">
                        <ion-col col-4>Đuôi</ion-col>
                        <ion-col>Loto</ion-col>
                    </ion-row>
                    <ion-row class="a-row-item xdpro" *ngFor="let elm of normalLoto.back; let i = index">
                        <ion-col col-4 text-center class="n-red-text a-border-right">{{i}}</ion-col>
                        <ion-col class="n-grey-text">
                            <span *ngFor="let loto of elm;">
                                            {{loto}}
                        </span>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div *ngIf="type==4" class="a-main-segment-content vietllot ">
            <ion-row class="a-row-header">
                <div padding text-center class="a1-width-100"> Kết quả xổ số Vietlott </div>
            </ion-row>
            <div class="vietllot-content ">
                <div class="vietlott-cell" *ngFor="let digi of vietlottArr; let i = index">
                    <span>{{digi}}</span>
                </div>
            </div>
            <div padding></div>
            <ion-grid>
                <ion-row text-center class="a-row-item n-bold-text">
                    <ion-col class="a-row-header a-border-right" col-4>Giải thưởng</ion-col>
                    <ion-col class="a-row-header a-border-right">Khớp</ion-col>
                    <ion-col class="a-row-header a-border-right">Số giải</ion-col>
                    <ion-col class="a-row-header">Giá trị</ion-col>
                </ion-row>
                <ion-row text-center class="a-row-item n-red-text">
                    <ion-col text-center class="a-border-right" col-4>Jackpot</ion-col>
                    <ion-col class="a-border-right">6 số</ion-col>
                    <ion-col class="a-border-right"></ion-col>
                    <ion-col></ion-col>
                </ion-row>
                <ion-row text-center class="a-row-item">
                    <ion-col text-center class="a-border-right" col-4>Giải Nhất</ion-col>
                    <ion-col class="a-border-right">5 số</ion-col>
                    <ion-col class="a-border-right"></ion-col>
                    <ion-col></ion-col>
                </ion-row>
                <ion-row text-center class="a-row-item">
                    <ion-col text-center class="a-border-right" col-4>Giải Nhì</ion-col>
                    <ion-col class="a-border-right">4 số</ion-col>
                    <ion-col class="a-border-right"></ion-col>
                    <ion-col></ion-col>
                </ion-row>
                <ion-row text-center class="a-row-item">
                    <ion-col text-center class="a-border-right" col-4>Giải Ba</ion-col>
                    <ion-col class="a-border-right">3 số</ion-col>
                    <ion-col class="a-border-right"></ion-col>
                    <ion-col></ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div padding></div>
    </div>

</ion-content>