page-statistic-loto-sum {
    .a-inputs-controller {
        border: solid 2px map-get($colors, danger);
        margin: 10px;
    }
    .a-input {
        padding: 10px;
        border-radius: 4px;
        border: solid 1px gray;
        width: 100%;
    }
    .a-col-header {
        color: white;
        font-weight: bold;
    }
    .a-row-header {
        background-color: map-get($colors, danger);
    }
    .a-row-content {
        border-left: solid 1px gray;
        border-right: solid 1px gray;
        padding: 4px;
    }
    .a-row-content-i {
        background-color: lightblue;
    }
    .a-row-content-last {
        border-bottom: solid 1px gray;
    }
    .a-table-header {
        padding: 20px;
        padding-bottom: 10px;
        text-align: center;
        line-height: 1.6em;
    }
    .a-select {
        max-width: 60%;
    }
    .mChartContainer {
        padding: 8px;
    }
    #mChart1 {
        width: 100%;
    }
    .a-icon-sort {
        font-weight: 1.2em;
    }
}