<ion-content id="a-main" no-bounce>

    <div class="a1-header-height a3-container a3-justify-start a3-items-center m-header ">
        <div class="a3-container " padding (click)="onClickBack()">
            <ion-icon name="ios-arrow-back-outline" class="header-button-icon"></ion-icon>
        </div>
        <div class="m-header-title">Chi tiết</div>
    </div>

    <div class="a1-content">
        <div text-center class="a-content-header">
            <div class="a3-container a3-items-center a3-justify-between">
                <div class="a-icon" (click)="onClickPreviousDay()">
                    <ion-icon name="ios-arrow-dropleft-outline"></ion-icon>
                </div>
                <div (click)="onClickPickDay()">{{datas.mTypeStr}} ngày {{datas.mDateStr}}</div>
                <div class="a-icon" (click)="onClickNextDay()">
                    <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
                </div>
            </div>
        </div>

        <div style="padding:8px" *ngIf="!mFirstimeRequesting">

            <ion-grid no-padding>
                <ion-row class="n-green-title">
                    <div padding text-center class="a1-width-100"> Kết quả XSMB ngày {{datas.mDateStr}}</div>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col col-2 class="a3-container a3-items-center a3-justify-center a-border-right n-red-text">ĐB</ion-col>
                    <ion-col text-center class="n-red-text">
                        <div *ngIf="mXSResult.db.state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.db.xoso}}</div>
                        <div *ngIf="mXSResult.db.state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col col-2 class="a3-container a3-items-center a3-justify-center a-border-right n-grey-text">G-1</ion-col>
                    <ion-col text-center>
                        <div *ngIf="mXSResult.g1.state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g1.xoso}}</div>
                        <div *ngIf="mXSResult.g1.state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col col-2 class="a3-container a3-items-center a3-justify-center a-border-right n-grey-text">G-2</ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g2[0].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g2[0].xoso}}</div>
                        <div *ngIf="mXSResult.g2[0].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center>
                        <div *ngIf="mXSResult.g2[1].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g2[1].xoso}}</div>
                        <div *ngIf="mXSResult.g2[1].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col col-2 class="a3-container a3-items-center a3-justify-center a-border-right n-grey-text">G-3</ion-col>
                    <ion-col>
                        <ion-row class="a-border-bottom">
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g3[0].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g3[0].xoso}}</div>
                                <div *ngIf="mXSResult.g3[0].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g3[1].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g3[1].xoso}}</div>
                                <div *ngIf="mXSResult.g3[1].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="n-col-item">
                                <div *ngIf="mXSResult.g3[2].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g3[2].xoso}}</div>
                                <div *ngIf="mXSResult.g3[2].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g3[3].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g3[3].xoso}}</div>
                                <div *ngIf="mXSResult.g3[3].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g3[4].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g3[4].xoso}}</div>
                                <div *ngIf="mXSResult.g3[4].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="n-col-item">
                                <div *ngIf="mXSResult.g3[5].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g3[5].xoso}}</div>
                                <div *ngIf="mXSResult.g3[5].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col col-2 class="a3-container a3-items-center a3-justify-center a-border-right n-grey-text">G-4</ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g4[0].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g4[0].xoso}}</div>
                        <div *ngIf="mXSResult.g4[0].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g4[1].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g4[1].xoso}}</div>
                        <div *ngIf="mXSResult.g4[1].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g4[2].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g4[2].xoso}}</div>
                        <div *ngIf="mXSResult.g4[2].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center>
                        <div *ngIf="mXSResult.g4[3].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g4[3].xoso}}</div>
                        <div *ngIf="mXSResult.g4[3].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col col-2 class="a3-container a3-items-center a3-justify-center a-border-right n-grey-text">G-5</ion-col>
                    <ion-col>
                        <ion-row class="a-border-bottom">
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g5[0].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g5[0].xoso}}</div>
                                <div *ngIf="mXSResult.g5[0].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g5[1].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g5[1].xoso}}</div>
                                <div *ngIf="mXSResult.g5[1].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="n-col-item">
                                <div *ngIf="mXSResult.g5[2].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g5[2].xoso}}</div>
                                <div *ngIf="mXSResult.g5[2].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g5[3].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g5[3].xoso}}</div>
                                <div *ngIf="mXSResult.g5[3].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="a-border-right n-col-item">
                                <div *ngIf="mXSResult.g5[4].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g5[4].xoso}}</div>
                                <div *ngIf="mXSResult.g5[4].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                            <ion-col no-padding text-center class="n-col-item">
                                <div *ngIf="mXSResult.g5[5].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g5[5].xoso}}</div>
                                <div *ngIf="mXSResult.g5[5].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                                    <ion-spinner name="ios-small"></ion-spinner>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col text-center col-2 class="a-border-right n-grey-text">G-6</ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g6[0].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g6[0].xoso}}</div>
                        <div *ngIf="mXSResult.g6[0].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g6[1].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g6[1].xoso}}</div>
                        <div *ngIf="mXSResult.g6[1].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center>
                        <div *ngIf="mXSResult.g6[2].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g6[2].xoso}}</div>
                        <div *ngIf="mXSResult.g6[2].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col text-center col-2 class="a-border-right n-grey-text">G-7</ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g7[0].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g7[0].xoso}}</div>
                        <div *ngIf="mXSResult.g7[0].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g7[1].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g7[1].xoso}}</div>
                        <div *ngIf="mXSResult.g7[1].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="a-border-right">
                        <div *ngIf="mXSResult.g7[2].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g7[2].xoso}}</div>
                        <div *ngIf="mXSResult.g7[2].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center>
                        <div *ngIf="mXSResult.g7[3].state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100"> {{mXSResult.g7[3].xoso}}</div>
                        <div *ngIf="mXSResult.g7[3].state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid no-padding class="n-margin-top">
                <ion-row text-center class="n-red-title">
                    <div class="a3-container a3-items-center a3-justify-center a1-fill-parent n-col-item">Loto Trực Tiếp</div>
                </ion-row>
                <ion-row class="a-border-left">
                    <ion-col col-2 *ngFor="let loto of mLotoMB.loto" class="a3-container a3-items-center a3-justify-center a-border-right a-border-bottom n-col-item">
                        {{loto.loto}}
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid no-padding class="n-margin-top">
                <ion-row>
                    <ion-col style="padding-right: 4px;">
                        <ion-row text-center class="n-red-title">
                            <ion-col col-4>Đầu</ion-col>
                            <ion-col>Loto</ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">0</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau0">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">1</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau1">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">2</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau2">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">3</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau3">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">4</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau4">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">5</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau5">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">6</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau6">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">7</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau7">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">8</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau8">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">9</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.dau9">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col style="padding-left: 4px;">
                        <ion-row text-center class="n-red-title">
                            <ion-col col-4>Đuôi</ion-col>
                            <ion-col>Loto</ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">0</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi0">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">1</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi1">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">2</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi2">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">3</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi3">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">4</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi4">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">5</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi5">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">6</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi6">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">7</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi7">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">8</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi8">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="a-row-item">
                            <ion-col col-4 text-center class="n-red-text a-border-right">9</ion-col>
                            <ion-col class="n-grey-text">
                                <span *ngFor="let loto of mLotoMB.duoi9">
                                            {{loto.loto}}<span *ngIf="loto.frequency > 1" class="n-red-text">({{loto.frequency}})</span>
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid no-padding class="n-margin-top">
                <ion-row class="n-green-title">
                    <div padding text-center class="a1-width-100 n">Điện toán 123 ngày {{datas.mDateStr}}</div>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <div *ngIf="mDienToan123.bs1.state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100">{{mDienToan123.bs1.xoso}}</div>
                        <div *ngIf="mDienToan123.bs1.state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <div *ngIf="mDienToan123.bs2.state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100">{{mDienToan123.bs2.xoso}}</div>
                        <div *ngIf="mDienToan123.bs2.state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="n-red-text n-medium-text">
                        <div *ngIf="mDienToan123.bs3.state==STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100">{{mDienToan123.bs3.xoso}}</div>
                        <div *ngIf="mDienToan123.bs3.state==STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid no-padding class="n-margin-top" *ngIf="mDienToan636.mDay == AVAILABLE636[0] || mDienToan636.mDay == AVAILABLE636[1]">
                <ion-row class="n-green-title">
                    <div padding text-center class="a1-width-100 n">Điện toán 636 ngày {{datas.mDateStr}}</div>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <span *ngIf="mDienToan636.bs1.state == STATE_NONE">{{mDienToan636.bs1.xoso}}</span>
                        <div *ngIf="mDienToan636.bs1.state == STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <span *ngIf="mDienToan636.bs2.state == STATE_NONE">{{mDienToan636.bs2.xoso}}</span>
                        <div *ngIf="mDienToan636.bs2.state == STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <span *ngIf="mDienToan636.bs3.state == STATE_NONE">{{mDienToan636.bs3.xoso}}</span>
                        <div *ngIf="mDienToan636.bs3.state == STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <span *ngIf="mDienToan636.bs4.state == STATE_NONE">{{mDienToan636.bs4.xoso}}</span>
                        <div *ngIf="mDienToan636.bs4.state == STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <span *ngIf="mDienToan636.bs5.state == STATE_NONE">{{mDienToan636.bs5.xoso}}</span>
                        <div *ngIf="mDienToan636.bs5.state == STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                    <ion-col text-center class="n-red-text n-medium-text">
                        <span *ngIf="mDienToan636.bs6.state == STATE_NONE">{{mDienToan636.bs6.xoso}}</span>
                        <div *ngIf="mDienToan636.bs6.state == STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid no-padding class="n-margin-top">
                <ion-row class="n-green-title">
                    <div padding text-center class="a1-width-100">Thần tài ngày {{datas.mDateStr}}</div>
                </ion-row>
                <ion-row class="a-row-item">
                    <ion-col text-center class="n-red-text a-border-right n-medium-text">
                        <div *ngIf="mThanTai.lottery.state == STATE_NONE" class="a3-container a3-items-center a3-justify-center a1-height-100">{{mThanTai.lottery.xoso}}</div>
                        <div *ngIf="mThanTai.lottery.state == STATE_LOADING" class="a3-container a3-items-center a3-justify-center a1-height-100">
                            <ion-spinner name="ios-small"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

    </div>
</ion-content>