<ion-content no-bounce style="width: 100%; height: 100%">
    <div class="a1-header-height a3-container a3-justify-start a3-items-center m-header ">
        <div class="a3-container " padding (click)="onClickOpenMenu()">
            <ion-icon name="ios-menu-outline" class="header-button-icon"></ion-icon>
        </div>
        <div class="m-header-title" style="flex : 1">Thống kê loto online</div>
    </div>
    <div id="main-content" class="a1-content">
        <div padding text-center style="font-weight:bold;font-size : 1.1em">
            Thống kê những người chơi loto online có thư hạng cao nhất
        </div>
        <div class="segment-container" id="segment-header">
            <ion-segment [(ngModel)]="typeStatistic" (ngModelChange)="setTouchMoveEvent()">
                <ion-segment-button value="1">
                    Top tài sản
                </ion-segment-button>
                <ion-segment-button value="2">
                    Top dự đoán
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="typeStatistic">
            <div id="table-content">
                <div *ngSwitchCase="1">
                    <ion-grid text-center>
                        <ion-row class="a-row-header table-header">
                            <ion-col col-2>
                                STT
                            </ion-col>
                            <ion-col>
                                Người chơi
                            </ion-col>
                            <ion-col>
                                Tài sản
                            </ion-col>

                        </ion-row>
                        <ion-row no-padding *ngFor="let player of topRichDatas ; let j = index" class="a-row-content" [class.a-row-content-last]="j==(topRichDatas.length-1)" [class.a-row-content-i]="j%2==1" [class.a-row-content-x]="j%2==0">
                            <ion-col col-2>
                                {{j+1}}
                            </ion-col>
                            <ion-col>
                                {{player.name}}
                            </ion-col>
                            <ion-col>
                                {{player.money}}
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </div>
                <div *ngSwitchCase="2">
                    <ion-grid text-center>
                        <ion-row class="a-row-header table-header">
                            <ion-col col-2>
                                STT
                            </ion-col>
                            <ion-col>
                                Người chơi
                            </ion-col>
                            <ion-col>
                                Tỷ lệ thắng
                            </ion-col>

                        </ion-row>
                        <ion-row no-padding *ngFor="let player of topWinRateDatas ; let j = index" class="a-row-content" [class.a-row-content-last]="j==(topRichDatas.length-1)" [class.a-row-content-i]="j%2==1" [class.a-row-content-x]="j%2==0">
                            <ion-col col-2>
                                {{j+1}}
                            </ion-col>
                            <ion-col>
                                {{player.name}}
                            </ion-col>
                            <ion-col>
                                {{player.rate}}%
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>

        <div padding></div>
    </div>
</ion-content>